<!-- <a href="../adlist">
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
	<%= __('adlist') %>
</a> -->

<form id="form-addAdlist" method="post" action="../api/adlist/add">
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="name">
				<%= __('adlist.name') %>
			</label>
			<input type="text" class="form-control" id="name" placeholder="<%= __('adlist.name') %>" name="name">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="layout">
				<%= __('layout') %>
			</label>
			<select class="custom-select form-control" id="layout" name="layout">
				<option value="0">Full screen images</option>
				<option value="1">Split screen images and video</option>
				<option value="2">Full screen images and video</option>
			</select>
		</div>
		<div class="form-group col-md-6">
			<label for="slideInterval">
				<%= __('slideInterval') %>
			</label>
			<input type="number" class="form-control" min="5" max="120" step="1" value="15" id="slideInterval" placeholder="<%= __('slideInterval') %>"
			 name="slideInterval">
		</div>
	</div>

	<div class="form-group">
		<label for="description">
			<%= __('description') %>
		</label>
		<textarea class="form-control" id="description" rows="3" name="description"></textarea>
	</div>

	<a href="../adlist" class="btn btn-secondary">
		<%= __('cancel') %>
	</a>
	<button type="submit" class="btn btn-primary">
		<%= __('submit') %>
	</button>
</form>

<script>
	$(function () {
		$("#form-addAdlist").validate({
			rules: {
				name: { required: true, minlength: 2 },
				description: { rangelength: [0, 200] },
			},
			messages: {
				name: { required: "<%= __('name.require') %>", minlength: "<%= __('name.minlength') %>" },
				description: { rangelength: "<%= __('description.rangelength') %>" },
			},
			submitHandler: function (form) {
				$.formSubmit(form, "../adlist");
			}
		});
	})
</script>