<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/source_header') %>
		<title>
			<%= __('adlist') %>
		</title>
</head>

<body>
	<%- include('../partials/nav_header') %>
		<%- include('../partials/nav_sidebar') %>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2">
						<%= __('adlist') %>
					</h1>
				</div>

				<div class="container">
					<%- include(page) %>
				</div>
			</main>
			<%- include('../partials/footer') %>
				<%- include('../partials/source_footer') %>
</body>

</html>